.blog {
    padding-top: 200px;
    transition: 0.5s;
}

.card_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 64px;
    color: #282938;

}

.cards {
    display: flex;
    padding-top: 32px;
}

.card {
    width: 405px;
    height: 609px;
    margin-left: 16px;
}

.card img {
    height: 285px;
}

.card h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
}

.card p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;

}